/* Estilo para a tela de adicionar item */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #333;
    border: 1px solid #555;
    color: #fff;
    border-radius: 5px;
}

button {
    width: auto; /* Ajusta a largura para se adaptar ao conteúdo */
    padding: 8px 16px; /* Diminui o tamanho do botão */
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; /* Espaçamento entre os botões */
}

button:hover {
    background-color: #3700b3;
}

a button {
    background-color: #ff5722;
    width: auto;
    padding: 8px 16px; /* Diminui o tamanho do botão */
    margin-top: 10px;
}

a button:hover {
    background-color: #f44336;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    input, button {
        width: 100%;
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: none;  /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    z-index: 9999;
}
